.app-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-head-cont {
  display: flex;
  align-items: center;
}

.ipl-logo {
  height: 50px;
  margin-right: 10px;
}

.main-head {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto';
}
